body {
    background: black;
}

.container {
    border: 3px solid orange;
    border-radius: 5px;
    display: grid;
    margin: auto;
    width:400px;
    height:700px;
    background: gray;
}